# Binarios y Objetos
*.o
bench_final
a.out
fft_comp

# Resultados y Datos
*.txt
*.png
*.pdf
*.csv
*.log
*.dat
*.out

# Archivos de sistema o editores
.DS_Store
.vscode/
*.swp
*~

# R Project (si usas RStudio)
.Rproj.user
.Rhistory
.RData
.Rproj